.container{
    height: 80vh;
    margin: 100px auto;
    max-width: 1200px;
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
.bai-tap-label, .bai-tap-content{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}
h1{
    padding: 30px 0px;
}
